body {
    color: #222;
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}


h1 {
    padding: 30px;
    margin: 0;
    text-align: center;
    color: white;
    background-color: #3a8ecd;
    font-family: Georgia, serif;
    font-size: 40px;
}

h2 {
    padding: 30px;
    margin: 0;
    text-align: center;
    color: white;
    background-color: #3a8ecd;
    font-family: Georgia, serif;
    font-size: 20px;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #1f2d3d;
    position: relative;
    top: 0em;
    left: 0em;
    width: 95em;
    display: flex;
    justify-content: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #2c3e50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #243447;
    min-width: 230px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 15px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #3a4a5a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media all {
    body {
        background-color: white;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}
